.section-details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    color: black;
    width: 50rem;
    height: 30rem;
    border-radius: 10px;
    padding: 1em 2rem;
    margin: 9em auto;
    margin-top: 3em;
    box-shadow: 0px 0px 20px 0px #D4D4D4;
}

.details-wrapper {
    display: flex;
    gap: 2em;
    height: 60%;
}

.media {
    width: 50%;
    padding-right: 2em;
}

.media img {
    width: auto;
    height: 230px;
    display: block;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 50%;
    padding: 6.5em 1em;
}

.model,
.price,
.likes {
    /* width: 90%; */
    /* margin: 30px auto;
    height: auto; */
    text-align: center;
    text-decoration: none;
    /* font-weight: bold; */
}

.model > span,
.price > span,
.likes > span {
    font-weight: 600;
}

.btn-wrapper {
    display: flex;
    gap: 2em; 
    
}

.btn {
    background: transparent;
    border: 1px solid #7cb08f;
    padding: 1rem 3rem;
    border-radius: 6rem;
    /* margin-bottom: 3em; */
    text-decoration: none;
    font-size: 1rem;
    color: black;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.btn:hover {
    background: #7cb08f;
    border: 2px solid #7cb08f;
}
