<div class="home-wrapper">
    <div class="section-home-banner">
        <div class="banner-title">
            <h2>THE SHOE OF THE YEAR</h2>
            <p>Taking the crown as shoe of the year, take a closer look at the Nike SB x Air Jordan 4 Pine Green</p>
        </div>
        <div class="banner-wrapper">
            <img src="../../../assets/Artboard_1.webp" alt="Retro Green">
        </div>
    </div>
    <div class="section-brands">
        <div class="brands-title">
            <h2>Our brands</h2>
        </div>
        <div class="brands">
            <div class="brands-wrapper">
                <section class="card-wrapper">
                    <div class="media">
                        <img src="../../../assets/Adidas.webp" alt="">
                    </div>
                    <div class="card-content">
                        <h3>Adidas</h3>
                    </div>
                </section>
                <section class="card-wrapper">
                    <div class="media">
                        <img src="../../../assets/nike-collection.webp" alt="">
                    </div>
                    <div class="card-content">
                        <h3>Nike</h3>
                    </div>
                </section>
                <section class="card-wrapper">
                    <div class="media">
                        <img src="../../../assets/UGG.webp" alt="">
                    </div>
                    <div class="card-content">
                        <h3>UGG</h3>
                    </div>
                </section>
                <section class="card-wrapper">
                    <div class="media">
                        <img src="../../../assets/jordan-collection.jpg" alt="">
                    </div>
                    <div class="card-content">
                        <h3>Air Jordan</h3>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>