<body>

    <form #createForm="ngForm" (ngSubmit)="createMethod(createForm)" class="form-container">
        <h2 class="create-title"> Create </h2>
        <input ngModel #model="ngModel" type="text" name="model" class="model" autofocus placeholder="Model" required minlength="4">
        <ng-container *ngIf="model.invalid && model.touched">
            <div *ngIf="model.errors?.['required']">Model is required!</div>
            <div *ngIf="model.errors?.['minlength']">Model must be at least 4 characters long!</div>
        </ng-container>
        
        <input ngModel #price="ngModel" type="text" name="price" class="price" placeholder="price" pattern="^(?=\D*\d\s\S).{1,}$" required>
        <ng-container *ngIf="price.invalid && price.touched">
            <div *ngIf="price.errors?.['required']">Price is required!</div>
            <div *ngIf="price.errors?.['pattern']">Price must be in a valid format!</div>
        </ng-container>

        <input ngModel #imageUrl="ngModel" type="text" name="imageUrl" class="imageUrl" placeholder="imageUrl" pattern="^(?!\s)(?=\D*\d).{6,}$" required>
        <ng-container *ngIf="imageUrl.invalid && imageUrl.touched">
            <div *ngIf="imageUrl.errors?.['required']">Image is required!</div>
            <div *ngIf="imageUrl.errors?.['pattern']">Image must be in a valid format!</div>
        </ng-container>

        <button [disabled]="createForm.invalid" class="createBtn"> Create </button>
    </form>

</body>


